.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 60%;
    height: 94%;
    /* background-color: ; */
    display: grid;
    grid-template-columns: 48% 48%;
    /* gr */
    align-items: center;
    justify-content: space-around;
}
.form-create{
    /* width: 100%; */
    height: 80%;
    background: rgb(15, 73, 73);
    padding: 30px;
    box-shadow: 0px 0px 16px rgba(19, 53, 53, 0.884);
    border: 1px solid rgba(24, 102, 102, 0.767);
    display: flex;
    align-items: center;
}
.input-data{
    width: 100%;
    position: relative;
}
.input-data input{
    background-color: rgb(15, 73, 73);
    outline: none;
    /* height: 100%; */
    width: 100%;
    border: none;
    font-size: 15px;
    color: azure;
    border-bottom: 2px solid silver;
}
.form-create .input-data input:focus ~ label,
.form-create .input-data input:valid ~ label{
    transform: translateY(-20px);
    color: azure;
}
.input-data label{
    width: 100%;
    /* height: 0px; */
    position: absolute;
    bottom: 2px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 20px;
    background-color: rgb(15, 73, 73);
    /* background-color: green; */
}
.input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: azure;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}

.input-data .temperaments-options {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    font-size: 17px;
    transition: all 0.3s ease;
}
.input-data .select-temperaments {
    
    background-color: rgb(15, 73, 73);
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    color: azure;
    border-bottom: 2px solid silver;
}

#menu-temperaments {
    position: absolute;
    z-index: 5000;
    left: -60%;
    top: 20%;
    width: 60%;
    height: 60%;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
}
#menu-temperaments .content-temps {
    width: 100%;
    height: 100%;
}
.temperaments-selected {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 206, 198, 0.658);
    backdrop-filter: blur(3px);
}
#menu-temperaments .btn-temp-sel {
    /* z-index: 5001; */
    width: 60px;
    height: 9%;
    position: absolute;
    right: -80px;
    top: 45%;
}
#menu-temperaments .temperaments-selected .temperaments-info {
    z-index: 10;
    /* position: absolute; */
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            160px,
            1fr
        )
    );
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.err {
    position: absolute;
    margin-top: 4px;
    color: rgb(96, 206, 206);
}

.btn-form-back {
    position: absolute;
    right: 3%;
    top: 3%;
}
.btn-form-create {
    position: absolute;
    right: 3%;
    bottom: 3%;
}
#static {
    color: gray;
}